{% extends 'main.html' %}

{% block content %}

<div class="container-lg">
    <div class="text-center">
        <h1 class="fw-bold">RESET PASSWORD</h1>
    </div>
    <div class="row justify-content-center my-5 texture">
        <div class="col-lg-6 formWrapper">
            <form class="shadow p-3 mb-5 bg-body rounded" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="row justify-content-center p-3">
                <button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

